// _fonts.sass


@font-face
    src: url('#{$font_folder}comingsoon-webfont.eot')
    src: url('#{$font_folder}comingsoon-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font_folder}comingsoon-webfont.woff2') format('woff2'),
    url('#{$font_folder}comingsoon-webfont.woff') format('woff'),
    url('#{$font_folder}comingsoon-webfont.ttf') format('truetype'),
    url('#{$font_folder}comingsoon-webfont.svg#coming_soonregular') format('svg')
    font-family: 'Coming Soon'
    font-weight: normal
    font-style: normal
@font-face
    src: url('#{$font_folder}adlib-webfont.eot')
    src: url('#{$font_folder}adlib-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font_folder}adlib-webfont.woff2') format('woff2'),
    url('#{$font_folder}adlib-webfont.woff') format('woff'),
    url('#{$font_folder}adlib-webfont.ttf') format('truetype'),
    url('#{$font_folder}adlib-webfont.svg#adlibregular') format('svg')
    font-family: 'AdLib'
    font-weight: normal
    font-style: normal
@font-face
    src: url('#{$font_folder}opensans-bold-webfont.eot')
    src: url('#{$font_folder}opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font_folder}opensans-bold-webfont.woff2') format('woff2'),
    url('#{$font_folder}opensans-bold-webfont.woff') format('woff'),
    url('#{$font_folder}opensans-bold-webfont.ttf') format('truetype'),
    url('#{$font_folder}opensans-bold-webfont.svg#open_sansbold') format('svg')
    font-family: 'Open Sans'
    font-weight: 800
    font-style: normal
@font-face
    src: url('#{$font_folder}opensans-regular-webfont.eot')
    src: url('#{$font_folder}opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font_folder}opensans-regular-webfont.woff2') format('woff2'),
    url('#{$font_folder}opensans-regular-webfont.woff') format('woff'),
    url('#{$font_folder}opensans-regular-webfont.ttf') format('truetype'),
    url('#{$font_folder}opensans-regular-webfont.svg#open_sansregular') format('svg')
    font-family: 'Open Sans'
    font-weight: 400
    font-style: normal
@font-face
    src: url('#{$font_folder}opensans-semibold-webfont.eot')
    src: url('#{$font_folder}opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$font_folder}opensans-semibold-webfont.woff2') format('woff2'),
    url('#{$font_folder}opensans-semibold-webfont.woff') format('woff'),
    url('#{$font_folder}opensans-semibold-webfont.ttf') format('truetype'),
    url('#{$font_folder}opensans-semibold-webfont.svg#open_sanssemibold') format('svg')
    font-family: 'Open Sans'
    font-weight: 600
    font-style: normal