footer
    background-color: white
    border-top: 3px solid $amani_orange
    padding: 0.5em 0 0.8em 0
    text-align: right
    font-size: 14px
    display: flex
    justify-content: space-between
    li
        list-style: none
        display: inline-block
        margin-left: 1em
