// _forms.scss

form 
	input,select
		box-sizing: content-box
		display: inline-block
		border: 1px #EB9B00 solid
		border-radius: 2px
		padding: 6px 10px
		background-color: #fcfcfc
		outline: 0px
		width: 175px
		margin: 8px 0px
		height: 20px
		font-size: 16px
	input[type="submit"]
		margin-left: 130px
		background-color: #EB9B00
		color: white
		cursor: pointer
	input[type="submit"]:hover
		background-color: #ffa800
		border-color: #ffa800
	input:focus
		border-width: 2px
		margin: 7px -1px
	label
		width: 130px
		display: inline-block
		font-weight: 600
//custom styling for contact form
.fscf-div-form
	input,select
		width: 90%
		max-width: 250px
		margin: 2px 0px
	input:focus, select:focus
		margin: 1px -1px

	input[type="checkbox"]
		width: auto
	label
		width: auto
	.fscf-div-field, 
		margin-bottom: 15px
	.fscf-div-clear
		width: 49%
		display: inline-block
