// _header.sass
header
    margin-top: 90px
    margin-bottom: 40px
    text-align: center
    a
        text-decoration: none
        color: inherit    
    .logoItem
        display: inline-block
        vertical-align: middle
        outline: 0px
    .logoImage
        height: 115px
        width: 115px
    .logoText
        font:
            family: 'AdLib'
            size: 30px
        line-height: 120%
        text-align: left
        color: $amani_red
        margin-left: 15px
        letter-spacing: 0.3px
    .logoDescription
        font:
            size: 18px
            weight: 300
        color: $amani_red
        text:
            transform: uppercase
            align: center
        margin-top: 10px
        margin-bottom: 35px
        -webkit-font-smoothing: antialiased


.smallHeader
    margin-top: 20px
    .logoImage
        height: 50px
        width: 50px
    .logoText
        font-size: 22px
    .logoDescription
        display: none


























.stickyHeader
    width: 100%
    height: 50px
    position: fixed
    top: 0px
    left: 0px
    overflow: hidden
    background-color: $amani_red
    color: white
    z-index: 20
    box-shadow: inset 0 0px 0 #fff,0 6px 8px rgba(0,0,0,0.15)
    img, ul
        display: inline-block
    img
        height: 30px
        width: 35px
        margin-top: 10px
    ul  
        vertical-align: top
        padding-left: 30px
        margin: 0
        font-size: 0
    ul>li
        display: inline-block
        list-style: none
        padding: 0px 15px
        margin: 0px
        line-height: 50px
        font-weight: 400
        font-size: 16px
        a
            text-decoration: none
            display: block
        &:hover
            background-color: $amani_orange
            transition: background-color 0.2s ease
    .current-menu-item, .current-page-ancestor, .current_page_parent 
        background-color: $amani_orange

    .align-right
        display: inline-block
        float: right
        font-size: 18px
        line-height: 50px
        font-weight: 600
        cursor: pointer



/********** Search Bar *********/
.searchWrapper
    position: absolute
    left: 50%
    top: 30px
    transform: translate(-50%, -50%)

.mobileMenuButton
    display: none

#searchSection
    right: 0px
    top: 11px
    position: absolute
    width: 200px
    height: 28px
    background-color: white
    transition: background-color 0.3s
    #searchIcon
        width: 20px
        height: 20px
        right: 0px
        position: absolute
        margin: 4px 6px
        position: absolute
        cursor: pointer
    #searchField
        width: 155px
        height: 20px
        line-height: 15px
        font-size: 14px
        font-family: sans-serif
        padding: 0px
        margin: 4px 6px
        border-width: 0px
        outline: none
        background-color: inherit
        appearance: none

#searchSection.inputHidden
    background-color: transparent

#searchSection.inputHidden #searchField
    font-size: 0px




