// _landing-page


.newsPreview
    white-space: nowrap
    border-bottom: 1px solid #979797
    &:last-child
        border-bottom-style: none
    p
        display: inline-block
        vertical-align: bottom
        white-space: normal
        line-height: 170%
        font-size: 0.95em
        /*baseline fix*/
        margin: 9px 0px

.newsPreview > p.title, .childPreview_text > p.title
    width: 70%
    font-weight: 600

.childPreview_text > p.title
    width: 100%

.newsPreview a, .childPreview_text a
    text-decoration: none

.newsPreview > p.date
    width: 30%
    text-align: right

.childPreview_image
    width: 35%
    padding-bottom: 35%
    margin-right: 5%
    display: inline-block
    background-size: cover
    vertical-align: top

.childPreview_text
    width: 55%
    display: inline-block
    > p
        margin-top: 0px!important

#slideShowContent 
    .contentDiv
        background:
            size: cover
            repeat: no-repeat
            position: center center
        width: 100%
        height: 60vh
        max-height: 550px
        min-height: 450px
        display: block
        position: relative
        h3
            position: absolute
            margin: 0px
            padding: 30px 3% 10px 3%
            bottom: 0px
            left: 0px
            width: 100%
            color: white
            font:
                weight: 400
                size: 1.2rem
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(40,40,40,0.7) 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3282828',GradientType=0 )
            box-sizing: border-box

.slick-dots
    position: absolute
    bottom: 0px
    /*to get relative 3% of padding*/
    width: 100%
    padding: 0px
    text-align: right
    right: 3%
    list-style: none
    li
        display: inline-block
        > button
            height: 15px
            width: 15px
            border-radius: 40px
            border: 2px solid white
            background-color: transparent
            margin-left: 10px
            padding: 0px
            font-size: 0px
            cursor: pointer
        >button:focus
            outline: 0

.slick-active > button
    background-color: white!important
