// _mobile.sass
//written for old menu; design and syntax obsolete

/*************Responsive*********/


// todo: 
//@media #{$tablet}...


//simplify page layouts
@media #{$mobile}
	.contentWrapper
		width: 100%
	.mainWrapper
		margin-top: 0px

	.sideBarViewItem,.pageContentViewItem,.oneColumnViewItem,.twoColumnViewItem
		width: 100%
	.xColumnView > div, .xColumnView > article, .xColumnView > aside
		display: block

	.archiveItem 
		li
			display: block
			padding: 0px
		li.archiveDate
			font:
				size: 13px
				style: italic
			margin-bottom: 20px
			width: auto
			text-align: left
	.singleChild .childPreview_image
		float: none
		width: 100%
    	padding-bottom: 70%
