// _mobile.sass

/*************Responsive*********/

@media only screen and (max-width:900px)
	.stickyHeaderVisible
    	opacity: 0!important
	.contentWrapper
		width: 100%

@media #{$tablet}
	.mobileMenuButton
		display: block
		position: absolute
		left: 10px
		top: 0px
		bottom: 0px
		font:
			size: 20px
			weight: bold
		cursor: pointer
		color: $text_dark_gray
		&:before
			content: '\2630'
	
	.menuHidden:before
		content: '\2716'
	
	nav 
		ul
			background-color: transparent
		li
			display: block
			width: 100%
			border-bottom: none
			padding-left: 10px
			border-left: solid 8px $amani_orange
			text-align: left
			background-color: white
	nav.contentWrapper
		max-height: 0px
		transition: max-height 0.5s ease
	.mainMenuVisible
		max-height: 1000px!important
	.slick-dots
		display: none!important
	.searchWrapper
		top: 10px	

@media #{$mobile}
	.contentWrapper
		width: 100%
	.mainWrapper
		margin-top: 0px
	
	header, .smallHeader
		margin-top: 15px
	

	header, .smallHeader
		.logoImage
			height: 40px
			width: 40px
		.logoText
			font-size: 20px
	
	header .logoDescription
		display: none
	#searchSection
		display: none
	#slideShowContent .contentDiv
		height: 30vh
	.contentDiv h3
		font-size: 18px

	.sideBarViewItem,.pageContentViewItem,.oneColumnViewItem,.twoColumnViewItem
		width: 100%
	.xColumnView > div, .xColumnView > article, .xColumnView > aside
		display: block

	.archiveItem 
		li
			display: block
			padding: 0px
		li.archiveDate
			font:
				size: 13px
				style: italic
			margin-bottom: 20px
			width: auto
			text-align: left
	.singleChild .childPreview_image
		float: none
		width: 100%
    	padding-bottom: 70%
	
	/*experimental*/
	.mobileSidebarHeader
		display: block
		padding: 8px
		font-size: 15px
		font-weight: 600
		text-align: center
		background-color: $text_dark_gray
		color: #f2f2f2
		position: relative
	
	.mobileSidebarHeader > .button
		position: absolute
		right: 15px
		top: 8px
	
	.sideBarViewItem
		max-height: 0px
		transition: max-height 0.5s ease
		font-size: 16px
		padding: 2% 4%
	
	.sideBarPageTree > .page_item > a
		font-size: 110%
	
	.sideBarPageTree .page_item, .sideBarPageTree .cat-item
		padding: 3px 0px
	
	.sideBarViewItemVisible
		max-height: 1000px
	

.mobileSidebarHeader
    display: none!important

