/*** GLOBAL : GENERAL STYLE DEFAULTS ***/
$amani_red: #A80319
$amani_orange: #EB9B00
$amani_orange_rgba: rgba(235, 155, 0, 0.79)
$text_dark_gray: #313131

$font_folder: "./fonts/"

$tablet: "only screen and (max-width:800px)"
$mobile: "only screen and (max-width:500px)"
$widescreen: "only screen and (min-width: 1300px)"

$default_padding: 1.5% 4%

@import fonts

/************init***********/
html, body
	margin: 0
	padding: 0
	

body
    line-height: 175%
    color:  $text_dark_gray
    font:
        family: 'Open Sans'
        weight: 400
        size: 15px
body
    background-color: #F2F2F2


.contentWrapper
    width: 80%
    max-width: 1024px
    margin-left: auto
    margin-right: auto
    position: relative

.mainWrapper
    background-color: white
    border-radius: 2px
    overflow: hidden

a
    color: inherit

[nounderline]
    text-decoration: none


.xColumnView
    white-space: nowrap

    >div, >article, >aside
        display: inline-block
        overflow: hidden
        box-sizing: border-box
        white-space: normal
        vertical-align: top

    *
        max-width: 100%

.sideBarViewItem
    width: 27%
    padding: 3% 2%

.pageContentViewItem
    width: 73%
    padding: $default_padding

.oneColumnViewItem
    width: 100%
    padding: 3%

.twoColumnViewItem
    width: 50%
    padding: 1.5% 3%

/********** Page Style - Global *********/
@import global

/********** HEADER & MENU *********/
@import header

/********** Search Results *********/

.searchResultItem
    margin: 35px 0px
    h2
        color: #252525!important
        margin-bottom: 0px!important
        font:
            size: 120%!important
            weight: 600!important
        >a
            text-decoration: none

/********** LandingPage *********/
@import landing-page

/********** Single Child **********/

.singleChild
    margin: 20px auto
    padding-top: 20px
    padding-bottom: 20px
    .childPreview_text
        width: 100%
        display: block
    .title
        font-size: 120%
    .childPreview_image
        position: relative
        float: left
        display: block
        padding-bottom: 45%
        width: 45%
        background-size: cover
        background-repeat: no-repeat
        margin: 0px 20px 20px 0px

/*********** Sidebar ***************/

.sideBarPageTree 
    li
        list-style: none
        font-size: 0.85rem
    a
        text-decoration: none
    .page_item, .cat-item
        border-bottom: 1px solid #979797
        padding: 6px 0px
        display: block
        width: 100%
        word-break: break-word
    .children
        border-top: 1px solid #979797
        margin-top: 6px
    .page_item_has_children
        border-bottom-style: none
    ul
        padding-left: 20px
    >.page_item>a
        width: 100%
        display: block
    .current_page_item > a, .current-cat > a
        font-weight: 700

/********** Single Post *********/
.postHeading
    line-height: 150%

p.postMeta
    text-align: right
    margin-top: 15px
    margin-bottom: 20px
    font-weight: 600
    a
        text-decoration: none

.postMeta span
    margin: 0px 7px

/*************Category/Archive**********/
.archive-content h2
    color: #4B4B4B
    font-weight: 600
    font-size: 20px
    margin-bottom: 5px
    margin-top: 30px


.archiveItem
    padding: 0px
    margin: 0px 0px
    margin-left: -1%
    list-style: none
    white-space: nowrap
    border-radius: 2px
    a
        text-decoration: none
    &:hover
        background-color: rgba(169, 169, 169, 0.18)
    li
        display: inline-block
        white-space: normal
        padding: 5px 0px

.archiveTitle
    width: 70%
    margin-left: 1%


.archiveDate
    width: 26%
    margin-left: 1%
    margin-right: 1%
    text-align: right
    vertical-align: top


/********** FOOTER *********/
footer
    border-bottom: solid 3px $amani_orange
    background-color: white
    text-align: center
    font-size: 14px
    margin-bottom: 20px
    li
        list-style: none
        display: inline-block
    .footer-seperator
        margin: 0px 4px

/*****************RESPONSIVE************/
//written for old menu; design and syntax obsolete
@import mobile


/****** Styles for Newsletter and Support Forms ***/
@import forms

/******** TestBunner *********/
.test-overlay
    position: fixed
    z-index: 99
    bottom: 0px
    left: 0px
    width: 100%
    height: 40px;
    line-height: 40px
    color: white
    background-color: $amani_red
    text-align: center
    padding: 5px 0px