#nav {
	position: relative;
	display: inline;
}

#nav > a {
	display: none;
}

#submenu > a {
		display: none;
}

@media screen and (max-width: 850px) {

	/*ausblenden des titels*/

	.postHeading {
		display: none;
	}

	.stickyHeader {
		overflow: visible;
	}

	.contentWrapper {
		padding-left: 3%;
	}

	#nav {
		position: absolute;
		display: inline-block;
		margin-top: 17px;
		margin-left: 3%;
	}

	#nav > a {
		width: 19px;
	}

	#nav:not( :target ) > a:first-of-type,
	#nav:target > a:last-of-type {
		display: block;
	}

	#nav > ul {
		display: none;
		width: 70vw;
		margin-top: 17px;
	}

	#nav:target ul {
		display: block;
		background-color: #A80319;
		padding-left: 0;
	}

	#nav > ul > li {
		display: block;
		font-size: 22px;
	}

	#nav > ul li:hover ul {
		display: block;
	}

	#nav > ul ul li:hover ul {
		display: none;
	}

	#searchSection {
		margin-right: 30px;
	}

	/* header */

	header {
		display: inline-block;
		width: 100%;
		margin-top: 45px;
		margin-bottom: 10px;
		padding: 3%;
	}

	header .logoImage {
		height: 65px;
		width: 65px;
	}

	.logoText > a {
		font-size: 0.7em;
	}

	header .logoDescription {
		margin-top: 0;
		margin-bottom: 10px;
		font-size: 14px;
	}

	/* slideshow */

	#slideShowContent .slick-dots {
		display: none !important; 
	}

	/* sidebar */

	/* Ueber uns, Kinderdoerfer und Unterstuetzen */

	#submenu {
		line-height: 120%
	}

	#submenu > li {
		display: inline;
	}

	#submenu > li > a {
		font-size: 1.5em;
	    color: #A80319;
	    font-weight: 700;
	    margin: 0.5em 0px 0.7em 0px;
	}

	#submenu:not( :target ) > a:first-of-type,
	#submenu:target > a:last-of-type {
		display: inline;
		padding-left: 0.5em;
		vertical-align: top;
	}

	#submenu:target ul {
		display: block;
	}

	/* Berichte */

	.sideBarViewItem {
		width: 100%;
	}

	.sideBarPageTree .cat-item, .sideBarPageTree .page_item > a {
		display: inherit;
		padding-left: 0.5em;
	}

	.sideBarPageTree ul {
		display: none;
	}

	.xColumnView > article {
		display: block;
	}

	.pageContentViewItem {
		position: relative;
		width: 100%;
	}

	.oneColumnViewItem {
		left: 0; /* no sidebar */
	}

	.oneColumnViewItem > p {
		display: inline-block; /* display map in one line */
		width: 100%;
	}

	.oneColumnViewItem iframe {
		width: 100%; /* display map on full horizontal scale */
		height: 65vh; /* viewport height */
	}

	/* article */

	.pageStyle {
		padding-right: 3%;
	}

}