/*** GLOBAL : GENERAL STYLE DEFAULTS ***/
@font-face {
  src: url("./fonts/opensans-bold-webfont.eot");
  src: url("./fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/opensans-bold-webfont.woff2") format("woff2"), url("./fonts/opensans-bold-webfont.woff") format("woff"), url("./fonts/opensans-bold-webfont.ttf") format("truetype"), url("./fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal; }

@font-face {
  src: url("./fonts/opensans-regular-webfont.eot");
  src: url("./fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/opensans-regular-webfont.woff2") format("woff2"), url("./fonts/opensans-regular-webfont.woff") format("woff"), url("./fonts/opensans-regular-webfont.ttf") format("truetype"), url("./fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal; }

@font-face {
  src: url("./fonts/opensans-semibold-webfont.eot");
  src: url("./fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/opensans-semibold-webfont.woff2") format("woff2"), url("./fonts/opensans-semibold-webfont.woff") format("woff"), url("./fonts/opensans-semibold-webfont.ttf") format("truetype"), url("./fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal; }

/************init***********/
html, body {
  margin: 0;
  padding: 0; }

body {
  line-height: 175%;
  color: #313131;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px; }

body {
  background-color: #F2F2F2; }

.contentWrapper {
  width: 80%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.mainWrapper {
  background-color: white;
  border-radius: 2px;
  overflow: hidden; }

a {
  color: inherit; }

[nounderline] {
  text-decoration: none; }

.xColumnView {
  white-space: nowrap; }
  .xColumnView > div, .xColumnView > article, .xColumnView > aside {
    display: inline-block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    vertical-align: top; }
  .xColumnView * {
    max-width: 100%; }

.sideBarViewItem {
  width: 27%;
  padding: 3% 2%; }

.pageContentViewItem {
  width: 73%;
  padding: 1.5% 4%; }

.oneColumnViewItem {
  width: 100%;
  padding: 3%; }

.twoColumnViewItem {
  width: 50%;
  padding: 1.5% 3%; }

/********** Page Style - Global *********/
.pageStyle {
  font-size: 0.90em; }
  .pageStyle h1, .pageStyle h2 {
    color: #A80319;
    font-weight: 700;
    margin: 0.5em 0px 0.7em 0px; }
  .pageStyle h3, .pageStyle h4, .pageStyle h5, .pageStyle h6 {
    font-weight: 700;
    margin: 1em 0px 0.5em 0px; }
  .pageStyle p {
    margin: 0.5em 0px 0.5em 0px; }
  .pageStyle img, .pageStyle video {
    max-width: 100%;
    height: auto; }
  .pageStyle iframe {
    max-width: 100%; }
  .pageStyle .alignright {
    padding: 8px 0 20px 8px;
    float: right; }
  .pageStyle .alignleft {
    padding: 8px 20px 8px 0;
    float: left; }
  .pageStyle .aligncenter {
    margin: 0px auto;
    display: block; }

/* image caption */
.wp-caption-text, .wp-caption-dt, .wp-caption-dd {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 150%;
  font-size: 90%;
  font-weight: 600; }

.wp-caption-dt, .wp-caption-dd, .wp-caption-text {
  padding-right: 10px; }

.aligncenter .wp-caption-text, .aligncenter .wp-caption-dt, .aligncenter .wp-caption-dd {
  text-align: center; }

/* Custom Image Grid - currently only manual use */
.custom-grid {
  font-size: 0px; }
  .custom-grid .grid-item {
    font-size: 1rem;
    width: 50%;
    height: auto;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2%;
    margin: 0px;
    vertical-align: top; }
  .custom-grid .grid-item:nth-child(odd) {
    padding-left: 0px; }
  .custom-grid .grid-item:nth-child(even) {
    padding-right: 0px; }
  .custom-grid img.grid-item, .custom-grid .grid-item img {
    padding: 0px; }

/********** HEADER & MENU *********/
header {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center; }
  header a {
    text-decoration: none;
    color: inherit; }
  header .logoItem {
    display: inline-block;
    vertical-align: middle;
    outline: 0px; }
  header .logoImage {
    height: auto;
    width: 100%;
    min-width: 200px;
    max-width: 360px; }
  header .logoDescription {
    font-size: 1rem;
    font-weight: 400;
    color: #A80319;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased; }

.smallHeader {
  margin-top: 20px; }
  .smallHeader .logoImage {
    height: 50px;
    width: 50px; }
  .smallHeader .logoText {
    font-size: 22px; }
  .smallHeader .logoDescription {
    display: none; }

.stickyHeader {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-color: #A80319;
  color: white;
  z-index: 20;
  -webkit-box-shadow: inset 0 0px 0 #fff, 0 6px 8px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0px 0 #fff, 0 6px 8px rgba(0, 0, 0, 0.15); }
  .stickyHeader .logo-container {
    height: 45px; }
  .stickyHeader .logo-image {
    display: block;
    height: 26px;
    width: 30px;
    margin-top: 10px;
    background-image: url("img/logo-header.png");
    background-position: 0 0;
    background-repeat: none;
    background-size: cover; }
  .stickyHeader ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 0px;
    margin: 0;
    font-size: 0; }
  .stickyHeader ul > li {
    display: inline-block;
    list-style: none;
    margin: 0px;
    line-height: 45px;
    font-weight: 400;
    font-size: 15px; }
    .stickyHeader ul > li a {
      text-decoration: none;
      display: block;
      padding: 0px 15px; }
    .stickyHeader ul > li:hover {
      background-color: #EB9B00;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease; }
  .stickyHeader .current-menu-item, .stickyHeader .current-page-ancestor, .stickyHeader .current_page_parent {
    background-color: #EB9B00; }
  .stickyHeader .align-right {
    display: inline-block;
    float: right;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer; }

/********** Search Bar *********/
.searchWrapper {
  position: absolute;
  left: 50%;
  top: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.mobileMenuButton {
  display: none; }

#searchSection {
  right: 0px;
  top: 9px;
  position: absolute;
  width: 200px;
  height: 27px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  #searchSection #searchIcon {
    width: 19px;
    height: 19px;
    background-image: url("img/search_black.png");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    position: absolute;
    margin: 4px 6px;
    position: absolute;
    cursor: pointer; }
  #searchSection #searchField {
    width: 155px;
    height: 20px;
    line-height: 15px;
    font-size: 0.8rem;
    font-family: sans-serif;
    padding: 0px;
    margin: 4px 6px;
    border-width: 0px;
    outline: none;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

#searchSection.inputHidden {
  background-color: transparent; }

#searchSection.inputHidden #searchField {
  font-size: 0px;
  background-color: transparent; }

#searchSection.inputHidden #searchIcon {
  background-image: url("img/search.png"); }

@media only screen and (min-width: 1300px) {
  #searchSection.inputHidden {
    background-color: white; }
  #searchSection.inputHidden #searchField {
    font-size: 0.8rem;
    background-color: white; }
  #searchSection.inputHidden #searchIcon {
    background-image: url("img/search_black.png"); } }

/********** Search Results *********/
.searchResultItem {
  margin: 35px 0px; }
  .searchResultItem h2 {
    color: #252525 !important;
    margin-bottom: 0px !important;
    font-size: 120% !important;
    font-weight: 600 !important; }
    .searchResultItem h2 > a {
      text-decoration: none; }

/********** LandingPage *********/
.newsPreview {
  border-bottom: 1px solid #979797; }
  .newsPreview:last-child {
    border-bottom-style: none; }
  .newsPreview .title {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    white-space: normal;
    line-height: 170%;
    font-size: 0.95em;
    font-weight: 600;
    /*baseline fix*/
    margin: 9px 0px; }
  .newsPreview .date {
    line-height: 170%;
    margin: 0 0 0 10px;
    float: right;
    font-weight: normal; }
  .newsPreview a {
    text-decoration: none; }

#slideShowContent .contentDiv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 60vh;
  max-height: 550px;
  min-height: 350px;
  display: block;
  position: relative; }
  #slideShowContent .contentDiv h3 {
    position: absolute;
    margin: 0px;
    padding: 30px 3% 10px 3%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(40, 40, 40, 0.7)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(40, 40, 40, 0.7) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(40, 40, 40, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3282828',GradientType=0 );
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.slick-dots {
  position: absolute;
  bottom: 0px;
  /*to get relative 3% of padding*/
  width: 100%;
  padding: 0px;
  text-align: right;
  right: 3%;
  list-style: none; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li > button {
      height: 15px;
      width: 15px;
      border-radius: 40px;
      border: 2px solid white;
      background-color: transparent;
      margin-left: 10px;
      padding: 0px;
      font-size: 0px;
      cursor: pointer; }
    .slick-dots li > button:focus {
      outline: 0; }

.slick-active > button {
  background-color: white !important; }

/********** Single Child **********/
.singleChild {
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .singleChild .childPreview_text {
    width: 100%;
    display: block; }
  .singleChild .title {
    font-size: 120%; }
  .singleChild .childPreview_image {
    position: relative;
    float: left;
    display: block;
    padding-bottom: 45%;
    width: 45%; }

/*********** Sidebar ***************/
.sideBarPageTree li {
  list-style: none;
  font-size: 0.85rem; }

.sideBarPageTree a {
  text-decoration: none; }

.sideBarPageTree .page_item, .sideBarPageTree .cat-item {
  border-bottom: 1px solid #979797;
  padding: 6px 0px;
  display: block;
  width: 100%;
  word-break: break-word; }

.sideBarPageTree .children {
  border-top: 1px solid #979797;
  margin-top: 6px; }

.sideBarPageTree .page_item_has_children {
  border-bottom-style: none; }

.sideBarPageTree ul {
  padding-left: 20px; }

.sideBarPageTree > .page_item > a {
  font-size: 120%;
  color: #A80319;
  width: 100%;
  display: block; }

.sideBarPageTree .current_page_item > a, .sideBarPageTree .current-cat > a {
  font-weight: 700; }

/********** Single Post *********/
.postHeading {
  line-height: 150%; }

p.postMeta {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 600; }
  p.postMeta a {
    text-decoration: none; }

.postMeta span {
  margin: 0px 7px; }

/*************Category/Archive**********/
.archive-content h2 {
  color: #4B4B4B;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 30px; }

.archiveItem {
  padding: 0px;
  margin: 0px 0px;
  margin-left: -1%;
  list-style: none;
  white-space: nowrap;
  border-radius: 2px; }
  .archiveItem a {
    text-decoration: none; }
  .archiveItem:hover {
    background-color: rgba(169, 169, 169, 0.18); }
  .archiveItem li {
    display: inline-block;
    white-space: normal;
    padding: 5px 0px; }

.archiveTitle {
  width: 70%;
  margin-left: 1%; }

.archiveDate {
  width: 26%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: right;
  vertical-align: top; }

/********** FOOTER *********/
footer {
  border-bottom: solid 3px #EB9B00;
  background-color: white;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px; }
  footer li {
    list-style: none;
    display: inline-block; }
  footer .footer-seperator {
    margin: 0px 4px; }

/*****************RESPONSIVE************/
/****** Styles for Newsletter and Support Forms ***/
form input, form select {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  border: 1px #EB9B00 solid;
  border-radius: 2px;
  padding: 6px 10px;
  background-color: #fcfcfc;
  outline: 0px;
  width: 175px;
  margin: 8px 0px;
  height: 20px;
  font-size: 16px; }

form input[type="submit"] {
  background-color: #EB9B00;
  color: white;
  cursor: pointer; }

form input[type="submit"]:hover {
  background-color: #ffa800;
  border-color: #ffa800; }

form input:focus {
  border-width: 2px;
  margin: 7px -1px; }

form label {
  width: 130px;
  display: inline-block;
  font-weight: 600; }

.fscf-div-form input, .fscf-div-form select {
  width: 90%;
  max-width: 250px;
  margin: 2px 0px; }

.fscf-div-form input:focus, .fscf-div-form select:focus {
  margin: 1px -1px; }

.fscf-div-form input[type="checkbox"] {
  width: auto; }

.fscf-div-form label {
  width: auto; }

.fscf-div-form .fscf-div-field {
  margin-bottom: 15px; }

.fscf-div-form .fscf-div-clear {
  width: 49%;
  display: inline-block; }

.fscf-div-form .fscf-div-error {
  color: #d40000;
  font-weight: bold; }

@media screen and (max-width: 850px) {
  .fscf-div-form .fscf-div-clear {
    width: 100%;
    display: block; }
  .fscf-div-form input[type=submit] {
    margin-left: 0px;
    margin-bottom: 20px; } }

/******** TestBunner *********/
.test-overlay {
  position: fixed;
  z-index: 99;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #A80319;
  text-align: center;
  padding: 5px 0px; }
