/*** GLOBAL : GENERAL STYLE DEFAULTS ***/
@font-face {
  src: url("./fonts/opensans-bold-webfont.eot");
  src: url("./fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/opensans-bold-webfont.woff2") format("woff2"), url("./fonts/opensans-bold-webfont.woff") format("woff"), url("./fonts/opensans-bold-webfont.ttf") format("truetype"), url("./fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal; }

@font-face {
  src: url("./fonts/opensans-regular-webfont.eot");
  src: url("./fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/opensans-regular-webfont.woff2") format("woff2"), url("./fonts/opensans-regular-webfont.woff") format("woff"), url("./fonts/opensans-regular-webfont.ttf") format("truetype"), url("./fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal; }

@font-face {
  src: url("./fonts/opensans-semibold-webfont.eot");
  src: url("./fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/opensans-semibold-webfont.woff2") format("woff2"), url("./fonts/opensans-semibold-webfont.woff") format("woff"), url("./fonts/opensans-semibold-webfont.ttf") format("truetype"), url("./fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal; }

/************init***********/
html, body {
  margin: 0;
  padding: 0; }

body {
  line-height: 175%;
  color: #313131;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  background-color: white; }

.contentWrapper {
  width: 93%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.mainWrapper {
  background-color: white;
  border-radius: 2px;
  overflow: hidden; }

a {
  color: inherit; }

[nounderline] {
  text-decoration: none; }

.xColumnView {
  white-space: nowrap; }
  .xColumnView > div, .xColumnView > article, .xColumnView > aside {
    display: inline-block;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: normal;
    vertical-align: top; }
  .xColumnView * {
    max-width: 100%; }

.sideBarViewItem {
  width: 27%;
  padding: 3% 2%; }

.pageContentViewItem {
  width: 73%;
  padding: 1.5% 4%; }

.oneColumnViewItem {
  width: 100%;
  padding: 3%; }

.twoColumnViewItem {
  width: 50%;
  padding: 1.5% 3%; }

/********** Page Style - Global *********/
.pageStyle {
  font-size: 0.90em; }
  .pageStyle h1, .pageStyle h2 {
    color: #A80319;
    font-weight: 700;
    margin: 0.5em 0px 0.7em 0px; }
  .pageStyle h3, .pageStyle h4, .pageStyle h5, .pageStyle h6 {
    font-weight: 700;
    margin: 1em 0px 0.5em 0px; }
  .pageStyle p {
    margin: 0.5em 0px 0.5em 0px; }
  .pageStyle img, .pageStyle video {
    max-width: 100%;
    height: auto; }
  .pageStyle iframe {
    max-width: 100%; }
  .pageStyle .alignright {
    padding: 8px 0 8px 20px;
    float: right; }
  .pageStyle .alignleft {
    padding: 8px 20px 8px 0;
    float: left; }
  .pageStyle .aligncenter {
    margin: 0px auto;
    display: block; }

/* image caption */
.wp-caption-text, .wp-caption-dt, .wp-caption-dd {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 150%;
  font-size: 90%;
  font-weight: 600; }

.wp-caption-dt, .wp-caption-dd, .wp-caption-text {
  padding-right: 10px; }

.aligncenter .wp-caption-text, .aligncenter .wp-caption-dt, .aligncenter .wp-caption-dd {
  text-align: left; }

/* Custom Image Grid - currently only manual use */
.custom-grid {
  font-size: 0px; }
  .custom-grid .grid-item {
    font-size: 1rem;
    width: 50%;
    height: auto;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2%;
    margin: 0px;
    vertical-align: top; }
  .custom-grid .grid-item:nth-child(odd) {
    padding-left: 0px; }
  .custom-grid .grid-item:nth-child(even) {
    padding-right: 0px; }
  .custom-grid img.grid-item, .custom-grid .grid-item img {
    padding: 0px; }

/********** HEADER & MENU *********/
header {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center; }
  header a {
    text-decoration: none;
    color: inherit; }
  header .logoItem {
    display: inline-block;
    vertical-align: middle;
    outline: 0px; }
  header .logoImage {
    height: auto;
    width: 90%;
    max-width: 360px; }
  header .logoDescription {
    font-size: 1rem;
    font-weight: 400;
    color: #A80319;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    -webkit-font-smoothing: antialiased; }

.stickyHeader {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background-color: #A80319;
  color: white;
  z-index: 20;
  -webkit-box-shadow: inset 0 0px 0 #fff, 0 6px 8px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0px 0 #fff, 0 6px 8px rgba(0, 0, 0, 0.15); }
  .stickyHeader .logo-container {
    height: 45px; }
    .stickyHeader .logo-container a {
      height: 100%; }
  .stickyHeader .logo-image {
    display: inline-block;
    height: 26px;
    width: 30px;
    margin-top: 10px;
    background-image: url("img/logo-header.png");
    background-position: 0 0;
    background-repeat: none;
    background-size: cover; }
  .stickyHeader ul {
    display: inline-block;
    vertical-align: top;
    padding-left: 0px;
    margin: 0;
    font-size: 0; }
  .stickyHeader li {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0px;
    line-height: 45px;
    font-size: 15px; }
    .stickyHeader li a {
      text-decoration: none;
      display: block;
      padding: 0px 15px; }
    .stickyHeader li:hover {
      background-color: #EB9B00;
      -webkit-transition: background-color 0.2s ease;
      transition: background-color 0.2s ease; }
  .stickyHeader .current-menu-item, .stickyHeader .current-page-ancestor, .stickyHeader .current_page_parent {
    background-color: #EB9B00; }
  .stickyHeader .align-right {
    display: inline-block;
    float: right;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    cursor: pointer; }

li.mobileMenuButton {
  display: none; }

/********** Search Bar *********/
.searchWrapper {
  position: absolute;
  left: 50%;
  top: 30px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#searchSection {
  right: 0px;
  top: 9px;
  position: absolute;
  width: 200px;
  height: 27px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  #searchSection #searchIcon {
    width: 19px;
    height: 19px;
    background-image: url("img/search_black.png");
    background-repeat: no-repeat;
    background-size: cover;
    right: 0px;
    position: absolute;
    margin: 4px 6px;
    position: absolute;
    cursor: pointer; }
  #searchSection #searchField {
    width: 155px;
    height: 20px;
    line-height: 15px;
    font-size: 0.8rem;
    font-family: sans-serif;
    padding: 0px;
    margin: 4px 6px;
    border-width: 0px;
    outline: none;
    background-color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

#searchSection.inputHidden {
  background-color: transparent; }

#searchSection.inputHidden #searchField {
  font-size: 0px;
  background-color: transparent; }

#searchSection.inputHidden #searchIcon {
  background-image: url("img/search.png"); }

@media only screen and (min-width: 1500px) {
  #searchSection.inputHidden {
    background-color: white; }
  #searchSection.inputHidden #searchField {
    font-size: 0.8rem;
    background-color: white; }
  #searchSection.inputHidden #searchIcon {
    background-image: url("img/search_black.png"); } }

/********** Search Results *********/
.searchResultItem {
  margin: 35px 0px; }
  .searchResultItem h2 {
    color: #252525 !important;
    margin-bottom: 0px !important;
    font-size: 120% !important;
    font-weight: 600 !important; }
    .searchResultItem h2 > a {
      text-decoration: none; }

/********** LandingPage *********/
.newsPreview {
  line-height: 170%;
  margin-bottom: 0.75em; }
  .newsPreview .date {
    display: inline-block;
    margin-right: 0.5em;
    font-size: 0.8rem;
    font-weight: 600;
    color: #828282; }
  .newsPreview .title {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -moz-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    white-space: normal;
    font-size: 0.9rem;
    font-weight: 600; }
  .newsPreview a {
    text-decoration: none; }

#slideShowContent .contentDiv {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 60vh;
  max-height: 550px;
  min-height: 350px;
  display: block;
  position: relative; }
  #slideShowContent .contentDiv h3 {
    position: absolute;
    margin: 0px;
    padding: 30px 3% 10px 3%;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(40, 40, 40, 0.7)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(40, 40, 40, 0.7) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(40, 40, 40, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3282828',GradientType=0 );
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.slick-dots {
  position: absolute;
  bottom: 0px;
  /*to get relative 3% of padding*/
  width: 100%;
  padding: 0px;
  text-align: right;
  right: 3%;
  list-style: none; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li > button {
      height: 15px;
      width: 15px;
      border-radius: 40px;
      border: 2px solid white;
      background-color: transparent;
      margin-left: 10px;
      padding: 0px;
      font-size: 0px;
      cursor: pointer; }
    .slick-dots li > button:focus {
      outline: 0; }

.slick-active > button {
  background-color: white !important; }

/********** Single Child **********/
.singleChild {
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px; }
  .singleChild .childPreview_text {
    width: 100%;
    display: block; }
  .singleChild .title {
    font-size: 120%; }
  .singleChild .childPreview_image {
    position: relative;
    float: left;
    display: block;
    padding-bottom: 45%;
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px 20px 20px 0px; }

/*********** Sidebar ***************/
.sideBarPageTree li {
  list-style: none;
  font-size: 0.85rem; }

.sideBarPageTree a {
  text-decoration: none; }

.sideBarPageTree .page_item, .sideBarPageTree .cat-item {
  border-bottom: 1px solid #979797;
  padding: 6px 0px;
  display: block;
  width: 100%;
  word-break: break-word; }

.sideBarPageTree .children {
  border-top: 1px solid #979797;
  margin-top: 6px; }

.sideBarPageTree .page_item_has_children {
  border-bottom-style: none; }

.sideBarPageTree ul {
  padding-left: 20px; }

.sideBarPageTree > .page_item > a {
  width: 100%;
  display: block; }

.sideBarPageTree .current_page_item > a, .sideBarPageTree .current-cat > a, .sideBarPageTree .current_page_item_parent {
  font-weight: 600; }

/********** Single Post *********/
.postHeading {
  line-height: 150%; }

p.postMeta {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 20px;
  font-weight: 600; }
  p.postMeta a {
    text-decoration: none; }

.postMeta span {
  margin: 0px 7px; }

/*************Category/Archive**********/
.archive-content h2 {
  color: #4B4B4B;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 30px; }

.archiveItem {
  padding: 0px;
  margin: 0px 0px;
  margin-left: -1%;
  list-style: none;
  white-space: nowrap;
  border-radius: 2px; }
  .archiveItem a {
    text-decoration: none; }
  .archiveItem:hover {
    background-color: rgba(169, 169, 169, 0.18); }
  .archiveItem li {
    display: inline-block;
    white-space: normal;
    padding: 5px 0px; }

.archiveTitle {
  width: 70%;
  margin-left: 1%; }

.archiveDate {
  width: 26%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: right;
  vertical-align: top; }

/*****************RESPONSIVE************/
/*************Responsive*********/
.visibleMobile {
  display: none !important; }

.hiddenMobile {
  display: block !important; }

@media only screen and (max-width: 820px) {
  .visibleMobile {
    display: block !important; }
  .hiddenMobile {
    display: none !important; }
  .contentWrapper {
    width: 100%; }
  .xColumnView {
    white-space: normal; }
  .twoColumnViewItem {
    display: block;
    width: 100%; }
  header {
    width: 90%;
    margin-right: auto;
    margin-left: auto; }
  .stickyHeader {
    /* reenabled to show mobile menu */
    overflow: visible;
    /*mobile button*/
    /*nav menu*/
    /*active states*/ }
    .stickyHeader .mobileMenuButton {
      right: 0px;
      height: 45px;
      padding: 0px 10px;
      position: absolute;
      display: block;
      overflow: hidden; }
      .stickyHeader .mobileMenuButton span {
        display: inline-block;
        vertical-align: top; }
      .stickyHeader .mobileMenuButton .mobileMenuTitle {
        max-width: 200px;
        text-align: right; }
      .stickyHeader .mobileMenuButton .mobileMenuIcon {
        background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPScjRkZGRkZGJyBoZWlnaHQ9JzI0JyB2aWV3Qm94PScwIDAgMjQgMjQnIHdpZHRoPScyNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMCAwaDI0djI0SDB6JyBmaWxsPSdub25lJy8+PHBhdGggZD0nTTMgMThoMTh2LTJIM3Yyem0wLTVoMTh2LTJIM3Yyem0wLTd2MmgxOFY2SDN6Jy8+PC9zdmc+");
        background-size: cover;
        -webkit-transition: background-image 0.3s ease;
        transition: background-image 0.3s ease;
        width: 25px;
        height: 25px;
        margin: 10px 0px 10px 10px; }
    .stickyHeader .mainMenuContainer {
      position: fixed;
      top: 45px;
      right: -9999px;
      opacity: 0;
      -webkit-transition: opacity 0.4s ease;
      transition: opacity 0.4s ease;
      font-size: 1rem;
      background-color: #A80319;
      color: white; }
      .stickyHeader .mainMenuContainer li {
        list-style: none;
        padding: 0px 2em 0px 1em;
        display: block; }
        .stickyHeader .mainMenuContainer li a {
          text-decoration: none; }
    .stickyHeader .active .mobileMenuIcon {
      background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTkgNi40MUwxNy41OSA1IDEyIDEwLjU5IDYuNDEgNSA1IDYuNDEgMTAuNTkgMTIgNSAxNy41OSA2LjQxIDE5IDEyIDEzLjQxIDE3LjU5IDE5IDE5IDE3LjU5IDEzLjQxIDEyeiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4="); }
    .stickyHeader .active .mainMenuContainer {
      right: 0px;
      opacity: 1; }
    .stickyHeader #searchSection {
      display: none; }
  #slideShowContent .contentDiv h3 {
    display: none; }
  .alignright, .alignleft {
    float: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .size-medium {
    width: 100% !important; }
  iframe {
    max-height: 60%; }
  footer {
    text-align: left;
    padding: 1.5% 4%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: solid 3px #EB9B00; }
    footer li {
      display: block;
      margin-left: 1em; }
    footer .footer-seperator {
      display: none; }
  aside.sideBarViewItem {
    padding: 1.5% 4%;
    display: block;
    width: 100%; }
  .sideBarPageTreeItems {
    display: none !important; }
    .sideBarPageTreeItems--visible {
      display: block !important; }
    .sideBarPageTreeItems .page_item > a {
      display: block !important; }
  .sideBarPageTreeHeading {
    color: #A80319;
    font-weight: 800;
    font-size: 120%;
    margin-top: 0.5em;
    cursor: pointer; }
    .sideBarPageTreeHeading .showMoreButton {
      display: inline-block;
      float: right;
      height: 1.2em;
      width: 1.2em;
      -webkit-transition: -webkit-transform 0.3s ease;
      transition: -webkit-transform 0.3s ease;
      transition: transform 0.3s ease;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease;
      background-image: url("data:image/svg+xml;utf8,<svg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); }
    .sideBarPageTreeHeading--visible .showMoreButton {
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg); }
  .pageContentViewItem {
    width: 100%; }
    .pageContentViewItem .postHeading {
      display: none; } }

/****** Styles for Newsletter and Support Forms ***/
form input[type="text"],
form input[type="mail"],
form input[type="submit"],
form input[type="reset"],
form select {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: inline-block;
  border: 1px #EB9B00 solid;
  border-radius: 2px;
  padding: 6px 10px;
  background-color: #fcfcfc;
  outline: 0px;
  -webkit-appearance: none;
  margin: 8px 0px;
  height: 20px;
  font-size: 16px; }

form input[type="submit"] {
  background-color: #EB9B00;
  color: white;
  cursor: pointer; }

form input[type="submit"]:hover {
  background-color: #ffa800;
  border-color: #ffa800; }

form input:focus {
  border-width: 2px; }

form label {
  width: 130px;
  display: inline-block;
  font-weight: 600; }

.fscf-div-form input[type="text"],
.fscf-div-form input[type="submit"],
.fscf-div-form input[type="reset"],
.fscf-div-form select {
  width: 90%;
  margin: 2px 0px; }

.fscf-div-form input[type="submit"],
.fscf-div-form input[type="reset"] {
  max-width: 250px; }

.fscf-div-form input:focus, .fscf-div-form select:focus {
  margin: 1px -1px; }

.fscf-div-form input[type="checkbox"] {
  width: auto; }

.fscf-div-form label {
  width: auto; }

.fscf-div-form .fscf-div-field {
  margin-bottom: 15px; }

.fscf-div-form .fscf-div-clear {
  width: 49%;
  display: inline-block; }

.fscf-div-form .fscf-div-error {
  color: #d40000;
  font-weight: bold; }

@media screen and (max-width: 850px) {
  .fscf-div-form .fscf-div-clear {
    width: 100%;
    display: block; }
  .fscf-div-form input[type=submit] {
    margin-left: 0px;
    margin-bottom: 20px; } }

footer {
  background-color: white;
  border-top: 3px solid #EB9B00;
  padding: 0.5em 0 0.8em 0;
  text-align: right;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer li {
    list-style: none;
    display: inline-block;
    margin-left: 1em; }

/******** TestBunner *********/
.test-overlay {
  position: fixed;
  z-index: 99;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: white;
  background-color: #A80319;
  text-align: center;
  padding: 5px 0px; }
